* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

  .container {
    justify-content: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
  }
  
  .logo {
    margin-top: 50px;
  }

  .overflow{
    overflow: hidden;
  }

  .form-control {
    margin: auto;
  }

  .form-center {
    text-align:center;
    margin-top: 50px;
  }

  .small, small {
    font-size: 80%;
    font-weight: 700;
    margin: auto;
}
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    margin: auto;
  }
  
  