* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

  .container {
    justify-content: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }
  
  